.IssueItem {
    background: white;
    padding: 10px;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.IssueItem .icon-col {
    line-height: 40px;
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    width: 23px;
}

.IssueItem .main-col {
    height: 100%;
    /* 23 + 5 + 23 + 5  = 56 */
    width: calc(100% - 96px);
    float: left;
}

.IssueItem .comment-col {
    float: left;
    width: 53px;
    height: 100%;
    margin-left: 5px;
}

.IssueItem .main-col .title-row {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.IssueItem .main-col .title-row a {
    color: rgb(56, 56, 56);
}
.IssueItem .main-col .author-row {
    color: gray;
    font-size: 12px;
}
.IssueItem .main-col .author-row a {
    color: gray;
    font-size: 14px;
}
.IssueItem .main-col .author-row img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.IssueItem .LabelItem {
    font-size: 12px;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;
}

.IssueItem .null {
    display: none;
}
