.tag {
    background-color: rgb(133, 184, 197);
    text-decoration: none;
    font-size: 12px;
    border-radius: 3.5px;
    padding: 2px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.tag a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}
.tag a:hover {
    color: rgb(255, 255, 255) !important;
}
