.alarm-item-box{
    background-color: #F9F9F9;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    margin-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}