.IssuePageTemplate {
    padding-top: 20px;
    height: auto;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.IssuePageTemplate .issue-header-row {
    width: 100%;
}

.IssuePageTemplate .make-new-issue {
    margin-top: 15px;
    float: right;
    line-height: 30px;
    font-size: 13px;
    color: gray;
}

.IssuePageTemplate #descript {
    font-size: 12px;
    color: gray;
}
.IssuePageTemplate #descript a {
    color: gray;
}
