.home-intro-wrapper {
    /* background: url('http://drive.google.com/uc?export=view&id=1xYwZSN-5yOl6t8zLvWqV7CU0DvAdWmvp') no-repeat fixed 50% 0; */
    /* background: url(../../img/home/black_wide.png); */
    background-image: url(https://source.unsplash.com/category/computer/1600x900);

    background-repeat: no-repeat;
    color: white;
    background-size: cover;

    /* background: url('http://drive.google.com/uc?export=view&id=1D3u1pU5FnfCTI4_I0hnxGjEoybruCKe3') top left/cover no-repeat; */
    position: relative;
    overflow: hidden;
    width: 100%;
}

.home-intro-wrapper .black-mask {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 80px;
    padding-bottom: 80px;
}

.home-intro-wrapper .home-intro-header-row {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Do Hyeon", sans-serif;
}

.home-intro-wrapper .home-intro-main-row {
    margin-top: 0px;
    font-size: 25px;
    font-family: "Do Hyeon", sans-serif;
}
.home-intro-wrapper .home-intro-button-row {
    margin-top: 20px;
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
}
.home-intro-wrapper .home-intro-button-row button {
    padding-left: 30px;
    padding-right: 30px;
}
