.nav-tabs .nav-link{
    font-size:12px;
    padding :5px;
}

.reply-answer-wrapper{
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 3px;
    overflow: hidden;
}

.reply-answer-wrapper .reply-answer-header{
    background-color: gray;
    padding: 5px;
}

.reply-answer-wrapper .reply-answer-main{
    background-color: white;
    padding: 5px;
}