.howto-hot-question-item-wrapper {
    margin-bottom: 5px;
    border-bottom: 0.5px lightgray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 100%;
    overflow: hidden;
}

.hot-question-list-items {
    text-align: center;
    font-size: 13px;
    font-weight: 450;
    float: left;
    width: 100%;
}

.hot-links-list-group-item {
    background-color: rgb(245, 245, 245) !important;
}
