.howto-hot-question-item-wrapper {
    margin-bottom: 5px;
    border-bottom: 0.5px lightgray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 100%;
    overflow: hidden;
}

.hot-question-list-items {
    text-align: center;
    font-size: 13px;
    font-weight: 450;
    width: 100%;
}

.hot-links-list-group-item {
    color: rgb(44, 44, 44);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 11px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 3px;
}

.hot-question-list-items #views {
    color: rgb(95, 143, 158);
    font-size: 10px;
}
