
.reply-answer-wrapper .nav-tabs .nav-link{
    font-size:12px;
    padding-top :8px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.reply-answer-wrapper{
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 3px;
    overflow: hidden;
}

.reply-answer-wrapper .reply-answer-header{
    background-color: rgb(243, 243, 243);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.reply-answer-wrapper .reply-answer-main{
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.reply-answer-main textarea{
    min-height: 100px;
    height: auto;
}


.reply-answer-main button {
    float: right;
}

.reply-answer-main .row{
    margin-top: 5px;
}

