.markdown-eiditor-wrapper {
    margin-top: 10px;
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.markdown-eiditor-wrapper .markdown-editor-header a,
button {
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.markdown-eiditor-wrapper .tab-content {
    padding: 10px;
}

.markdown-eiditor-wrapper .markdown-editor-header {
    padding-top: 5px;
    background-color: rgb(241, 240, 240);
    /* border: 0.5px solid rgb(224, 224, 224); */
}

.markdown-eiditor-wrapper .markdown-editor-header ul {
    padding-left: 10px;
    padding-right: 10px;
}

.markdown-eiditor-wrapper textarea {
    padding: 2px;
    border: none;
    min-height: 250px;
}

.markdown-editor-button-box button {
    border-radius: 5px;
    border: 1px;
    background-color: white;
}

.markdown-editor-button-box {
    background-color: #deebee;
}

.markdown-editor-button-box button {
    background-color: #deebee;
}

.markdown-eiditor-wrapper .alert {
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.markdown-eiditor-wrapper .reply-wrapper {
    border: none;
}

.markdown-eiditor-wrapper a {
    font-size: 14px;
    color: gray;
}
