.HowToKanbanModuleTemplate {
    padding-top: 20px;
    padding-bottom: 20px;
}

.HowToKanbanModuleTemplate .kanban-wrapper {
    overflow: hidden;
}

.HowToKanbanModuleTemplate .kanban-module-header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.HowToKanbanModuleTemplate .kanban-module-header .kanban-header-wrapper {
    display: inline-block;
    /* width: calc(100% - 300px); */
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.HowToKanbanModuleTemplate .kanban-col {
    float: left;
    width: 33%;
    padding: 10px;
    height: auto;
}

.HowToKanbanModuleTemplate .kanban-col .kanban-header {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.HowToKanbanModuleTemplate .kanban-col .kanban-box {
    /* border: 1px solid rgb(230, 230, 230); */
    border-radius: 10px;
    height: auto;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* background-color: rgb(250, 250, 250); */
}

/* ///////////////////////// Kanban Item //////////////////////////// */

.HowToKanbanModuleTemplate .KanbanItem {
    height: auto;
    padding: 10px;
    background-color: white;
    border: 0.3px solid rgb(224, 224, 224);
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.16), 0 1px 3px rgba(177, 177, 177, 0.23);
}

.HowToKanbanModuleTemplate .KanbanItem .item-row {
    overflow: hidden;
}

.HowToKanbanModuleTemplate .KanbanItem .item-col {
    float: left;
}

.HowToKanbanModuleTemplate .KanbanItem .about-col {
    width: calc(100% - 55px);
    margin-right: 5px;
}

.HowToKanbanModuleTemplate .KanbanItem .title-row {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HowToKanbanModuleTemplate .KanbanItem .title-row a {
    color: black;
    text-decoration: none;
}

.HowToKanbanModuleTemplate .KanbanItem .date-row {
    font-size: 14px;
    color: gray;
}

.HowToKanbanModuleTemplate .KanbanItem .profile-col {
    float: left;
    width: 50px;
    height: 60px;
    /* padding-left: 13px; */
    padding-top: 0px;
    /* padding: 15px; */
}

.HowToKanbanModuleTemplate .KanbanItem .profile-col img {
    width: 35px;
    height: 40px;
    border-radius: 50%;
}

.HowToKanbanModuleTemplate .KanbanItem .preview-row {
    font-size: 14px;
    color: gray;
}

.HowToKanbanModuleTemplate .KanbanItem .stats-row {
    float: left;
    font-size: 14px;
}

.HowToKanbanModuleTemplate .KanbanItem .author-row {
    text-align: right;
}

.HowToKanbanModuleTemplate .KanbanItem #date {
    font-size: 14px;
    color: gray;
}

.HowToKanbanModuleTemplate .KanbanItem #nickname {
    font-size: 12px;
}

.HowToKanbanModuleTemplate .KanbanItem #grade-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 1px;
    margin-bottom: 3px;
    box-shadow: 0 1px 3px rgba(56, 56, 56, 0.16), 0 1px 3px rgba(94, 94, 94, 0.23);
}

.HowToKanbanModuleTemplate .KanbanItem .bottom {
    margin-top: 20px;
}
