.newquestion_sidebar_main {
    padding-left: 10px;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.newquestion_sidebar_main b {
    color: #4ba0b5;
    font-size: 14px;
}

.newquestion_sidebar_wrapper {
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.12); /* 그림자 */
}

.newquestion_sidebar_header {
    font-family: "Do Hyeon", sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: lightgray;
    width: 100%;
}
