@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

.Article {
    min-height: 100vh;
    font-family: "Noto Sans KR", sans-serif;
}

.margin-top-3 {
    margin-top: 3%;
}

.red-border {
    border: 0px dashed red;
}

.bottom-border {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.16);
    margin-bottom: 2%;
}

.content-header {
    font-family: "Do Hyeon", sans-serif;
    font-size: 30px;
    color: black;
    /* padding-left: 10px; */
    /* padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    /* border-radius: 5px; */
    /* background-color: #4ba0b5; */
    /* margin-bottom: 10px; */
    /* box-shadow: 1px 1px 1px 1px rgb(226, 226, 226); */
}

@media only screen and (max-width: 800px) {
    .pc-only {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-only {
        display: none;
    }
}
