.HowToRuleItem {
    height: auto;
    cursor: pointer;
    z-index: 100;
    pointer-events: auto;
    position: relative;
}

.HowToRuleItem .howto-rule-item-box {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    /* margin-top: 20px; */
    margin-right: 10px;
    margin-bottom: 30px;
    height: 100%;
    color: gray;
    border-radius: 7px;

    font-size: 15px;
}

.HowToRuleItem .howto-rule-item-box .title {
    font-size: 18px;
    margin-bottom: 20px;
}

.HowToRuleItem .clicked .title {
    color: rgb(71, 172, 255);
}

.HowToRuleItem .clicked {
    /* background-color: rgb(242, 250, 253); */
    background-color: rgb(255, 255, 255);

    box-shadow: 0 2px 4px rgba(161, 161, 161, 0.16), 0 2px 4px rgba(179, 179, 179, 0.23); /* 그림자 */
}
