.ContributorsModuleTemplate {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(248, 249, 250);
}

.ContributorsModuleTemplate .header-row {
    text-align: center;
}

.ContributorsModuleTemplate .header-row .header {
    display: inline-block;
    font-size: 24px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.ContributorsModuleTemplate .item-row {
    text-align: center;
    margin-top: 30px;
}

.ContributorsModuleTemplate .item-wrapper {
    overflow: hidden;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ContributorsModuleTemplate .item {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.ContributorsModuleTemplate .item img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 6px rgba(2, 2, 2, 0.16), 0 3px 6px rgba(112, 112, 112, 0.23);
}
