.howto-sidebar-wrapper {
    margin: 0 auto;
}

.new-question-button {
    width: 100%;
    margin-top: 5%;
    font-family: "Do Hyeon", sans-serif;
    color: white;
}
.hot-question-header {
    text-align: center;
    font-size: 20px;
    margin: 2px auto;
    font-family: "Do Hyeon", sans-serif;
}
