@media only screen and (max-width: 800px) {
    /* Add Your CSS Styling Here */
}

@media only screen and (min-width: 800px) {
    /* Add Your CSS Styling Here */
}
.questions-number-span {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    vertical-align: bottom;
    display: inline-block;
}

.howto-list-header-header {
    width: 100%;
}
.howto-list-header-header .mobile-new-question-button {
    float: right;
}

.question-descript-span {
    font-family: "Noto Sans KR", sans-serif;
    vertical-align: bottom;
    display: inline-block;
    font-size: 15px;
}

.search-button-wrapper {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}

.collapse {
    width: 100%;
}

.serach-bar-collapse-wrapper {
    width: 100%;
}
.PageHeaderModule {
    font-family: "Noto Sans KR", sans-serif;
}
.PageHeaderModule .filter-wrapper {
}

.PageHeaderModule .filter-wrapper .filter-header {
    line-height: 30px;
    color: rgb(90, 90, 90);
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    /* text-align: center; */
}

.PageHeaderModule .filter-wrapper .filter-header .filter-item {
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.PageHeaderModule .filter-wrapper .filter-header #selected {
    color: #4ba0b5;
}
