.Footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 15px 0;
    color: white;
    background-color: rgb(75, 75, 75);
    padding-bottom: 80px;
}

.Footer .footer-wrapper {
    overflow: hidden;
}

.Footer .footer-wrapper .footer-col {
    float: left;
    margin-left: 3px;
    margin-right: 50px;
}

.Footer .brand img {
    width: 100px;
    text-align: left;
    margin-bottom: 20px;
}

.Footer .footer-col .footer-col-header {
    margin-top: 3px;
    color: rgb(235, 235, 235);
    font-size: 14px;
    margin-bottom: 10px;
}
.Footer .footer-col .footer-col-content {
    text-align: left;
    margin-top: 8px;
}
.Footer .footer-col .footer-col-content a {
    color: rgb(212, 212, 212);
    font-size: 12px;
}
.Footer .footer-col .footer-col-content {
    color: rgb(212, 212, 212);
    font-size: 12px;
}
