@media only screen and (max-width: 530px) {
    .howto-item .stats-area {
        display: none;
    }
    .howto-item .content {
        overflow: hidden;
        margin-left: 95px;
        margin-right: 0;
    }
    .howto-item .previews-box {
        display: none;
    }
    /* Add Your CSS Styling Here */
}

@media only screen and (min-width: 530px) {
    .howto-item .stats-area-mobile {
        display: none;
    }
    .howto-item .content {
        overflow: hidden;
        margin-right: 95px;
        margin-left: 25px;
    }
    .howto-item .answer-wrapper {
        margin-bottom: 5px;
    }
    /* Add Your CSS Styling Here */
}
.howto-item .stats-area-mobile {
    width: 80px;
    float: left;
}
.howto-item .content {
    float: left;
    overflow: hidden;
}
.box {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    overflow: hidden;
    background: #bdbdbd;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.howto-item-wrapper {
    background-color: white;
    border-top: 0.5px solid #e3e3e3;
}

.howto-item {
    height: 120px;
    width: 100%;
}
.howto-item .content {
    margin-top: 5px;
    position: absolute;
    right: 0px;
    left: 0px;
    width: auto;
}

.howto-item .stats-area {
    width: 80px;
    height: 100%;
    float: right;
}

.howto-item .stats-inner-box {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 10px;
    padding-right: 10px;
}

.howto-item .stats-inner-box .stats-inner-box-solved {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.howto-item .stats-inner-box .stats-inner-box-solved .answer-number-wrapper p {
    background-color: rgb(212, 91, 91);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
    border-radius: 12px;
    width: 30px;
    height: 30px;
}

.howto-item .stats-inner-box .stats-inner-box-hot {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.howto-item .stats-inner-box .stats-inner-box-hot .answer-number-wrapper p {
    /* background-color: rgb(17, 149, 182); */
    border: 1px solid rgb(212, 91, 91);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: rgb(212, 91, 91);
    border-radius: 12px;
    width: 30px;
    height: 30px;
}

.howto-item .answer-wrapper {
    height: 55px;
}

.howto-item .views-wrapper {
    height: 55px;
}

.content .author-title-wrapper {
    width: 100%;
}

.howto-item .asked-span {
    color: gray;
    font-size: small;
}

.howto-item .author-span {
    color: #494949;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
}

.howto-item .author-span-add {
    color: #494949;
    font-size: 10px;
    font-family: "Noto Sans KR", sans-serif;
}

.howto-item .title-span a {
    /* color : 	rgb(17, 149, 182);  */
    color: black;

    font-size: large;
    font-family: "Noto Sans KR", sans-serif;
}

.howto-item .answer-number-wrapper {
    height: 25px;
    vertical-align: middle;
}
.howto-item .answer-span-wrapper {
    height: auto;
}
.howto-item .answer-number {
    text-align: center;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}
.howto-item .answer-span {
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    color: gray;
}

.howto-item .views-number-wrapper {
    height: 25px;
}
.howto-item .views-span-wrapper {
    height: auto;
}
.howto-item .views-number {
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.howto-item .views-span {
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    color: gray;
}

.howto-item .previews-span {
    font-size: 13px;
    color: #696969;
    text-overflow: clip;
    text-overflow: ellipsis;
}

.howto-item .previews-box {
    max-height: 50px;
    overflow: hidden;
}
