@media only screen and (max-width: 800px) {
    .HowToTemplate .howto-main-col {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.HowToTemplate {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

.HowToTemplate .howto-main-col {
    float: left;
    height: 100%;
    width: calc(100% - 280px);
    margin-right: 10px;
}

.HowToTemplate .howto-side-col {
    float: left;
    height: 100%;
    width: 260px;
}

.howto-wrapper {
    border-right: 1px inset #dcdcdc;
}
