@media only screen and (max-width: 850px) {
    .new-question-wrapper .new-question-sidebar-col {
        display: none;
    }
    .new-question-wrapper .new-question-main-col {
        width: 100%;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
}
.new-question-wrapper {
    background-color: #f2f2f2;
    min-height: 100vh;
    height: auto;
    padding-top: 2%;
    padding-bottom: 120px;
}

.new-question-wrapper .new-question-header-row {
    margin-bottom: 15px;
}

.new-question-header-row span {
    font-size: 24px;
    font-family: "Do Hyeon", sans-serif;
}

.new-question-wrapper .new-question-body-warpper {
    width: 100%;
    overflow: hidden;
}

.new-question-wrapper .new-question-main-col {
    width: 100%;
    margin-right: -330px;
    padding-right: 330px;
    float: left;
    box-sizing: border-box;
}

.new-question-wrapper .new-question-sidebar-col {
    float: right;
    margin-left: 10px;
    width: 320px;
}

.new-question-main-component {
    margin-bottom: 20px;
}

.new-question-main-col .new-question-preview-box {
    pointer-events: none;
}
