.ImgPreviewModule {
    margin-top: 10px;
}
.ImgPreviewModule .preview-img-wrapper {
    float: left;
}
.ImgPreviewModule .preview-img-box {
}

.ImgPreviewModule .preview-img-box #preview-img {
    cursor: pointer;
    display: block;
    margin: 0px auto;

    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(112, 112, 112, 0.23); /* 그림자 */
}

.ImgPreviewModule .preview-img-wrapper .preview-control-box {
    margin-left: 14px;
    cursor: pointer;
}
