.howto-hot-question-item-wrapper{
    margin-bottom:5px;
    border-bottom:0.5px lightgray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 100%;
    overflow: hidden;
}

.howto-hot-question-item-col-views{
    text-align: center;
    color: lightslategray;
    font-weight: 520;
    font-size:11px;
    margin: 1px auto;
    float:right;
    width:20%;
}
.howto-hot-question-item-col-text{
    text-align: center;
    font-size: 13px;
    font-weight: 450;
    float:left;
    width:80%;
}
