.howto-hot-temp-row{
    margin-top:5px;
}
.howto-hot-question-col-id{
    text-align: center;
    color: lightslategray;
    font-weight: 500;
    float:right;

}
.howto-hot-question-col-views{
    text-align: center;
    color: blue;
}
.howto-hot-question-col-text{
    text-align: center;
    font-size: 18px;
    font-weight: 450;
}
