.DevNotePageTemplate {
    padding-top: 30px;
    background-color: rgb(248, 249, 250);
    min-height: 100vh;
    height: auto;
}

.DevNotePageTemplate .DevNoteItem {
    /* padding: 10px; */
    overflow: hidden;
    background-color: white;
    float: left;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.DevNotePageTemplate .DevNoteItem .img-row {
    height: 180px;
    width: 350px;
    background-image: url(https://source.unsplash.com/category/nature/1600x900);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.DevNotePageTemplate .DevNoteItem .item-row {
    padding: 10px;
}

.DevNotePageTemplate .DevNoteItem .title-row {
    font-weight: 600;
    font-size: 16px;
}

.DevNotePageTemplate .DevNoteItem .date-row {
    font-size: 14px;
    color: gray;
}
