.how-to-content-header {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);
    background-color: rgb(251, 251, 251);
}

.how-to-content-header .author-span {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    vertical-align: base;
    display: inline-block;
}

.how-to-content-header .fake {
    color: white;
}

.how-to-content-header .content-header-question-mark {
    font-family: "Do Hyeon", sans-serif;
    font-size: x-large;
    vertical-align: base;
    display: inline-block;
    color: #4ba0b5;
}

.how-to-content-header .author-level-span {
    font-size: 12px;
    vertical-align: base;
    display: inline-block;
    color: #888888;
}

.how-to-content-header .author-outro {
    font-size: 10px;
    font-family: "Noto Sans KR", sans-serif;
    vertical-align: base;
    display: inline-block;
    color: gray;
}

.how-to-content-header .question-header {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
}

.how-to-content-header .quetsion-id {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.content-intro-wrapper-div-right .date-text-span,
.view-text-span {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    vertical-align: base;
    display: inline-block;
    color: black;
}

.how-to-content-header .content-intro-wrapper {
    width: 100%;
}

.how-to-content-header .content-title-wrapper {
    width: 100%;
}

.how-to-content-header .content-intro-wrapper .date-span,
.view-span {
    color: #888888;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
}

.how-to-content-header .content-intro-wrapper-div {
    width: 100%;
    overflow: hidden;
}

.content-header-header {
    line-height: 22px;
    margin-bottom: 10px;
}

.how-to-content-header .solved-bagde {
    vertical-align: text-bottom;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    margin-left: 2px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    height: 12px;
    font-weight: bold;
    background-color: rgb(212, 91, 91);
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.how-to-content-header .not-solved-bagde {
    vertical-align: text-bottom;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    margin-left: 2px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    height: 12px;
    font-weight: bold;
    background-color: rgb(139, 130, 130);
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.how-to-content-header .mine-bagde {
    vertical-align: text-bottom;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    margin-left: 2px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    height: 12px;
    font-weight: bold;
    background-color: rgb(98, 96, 96);
    color: white;
    border-radius: 5px;
}

.avatar-box {
    float: left;
}
.author-date-wrapper {
    margin-left: 10px;
    float: left;
}
.author-date-wrapper .author-box {
    line-height: 15px;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
}
.author-date-wrapper .date-box {
    line-height: 20px;
    font-size: 12px;
    color: gray;
    font-family: "Noto Sans KR", sans-serif;
}
