.howto-list-group-wrapper {
    width: 100%;
    padding: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.howto-list-group-item-tagname {
    background-color: rgb(133, 184, 197);
    text-decoration: none;
    font-size: 12px;
    border-radius: 3.5px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
}

.howto-list-group-wrapper #x {
    font-size: 12px;
    color: gray;
}
.howto-list-group-wrapper #tagcount {
    color: rgb(95, 143, 158);
    font-size: 12px;
}

.howto-list-group-wrapper a:hover {
    color: rgb(133, 184, 197) !important;
}
