.howto-list-group-wrapper {
    width: 100%;
    background-color: rgb(245, 245, 245) !important;
}
.howto-list-group-item-tagname {
    background-color: rgb(133, 184, 197);
    border-radius: 3.5px;
    padding: 1.5%;
    color: white;
    font-size: 11px;
    margin-right: 5px;
}
