.HowToRuleModule {
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(249, 249, 249);
}
.HowToRuleModule .howto-rule-header {
    font-family: "Do Hyeon", sans-serif;
    width: 100%;
    text-align: center;
    font-size: 0px;
}
.HowToRuleModule .pc-only {
    height: 100%;
}
.HowToRuleModule .howto-rule-item-col {
    width: 150px;
    height: 100%;

    float: left;
}

.HowToRuleModule .howto-rule-content-col {
    margin-left: -150px;
    margin-right: -150px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    height: 100%;
    float: left;
}
