.question-tag-wrapper {
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    margin-top: 5%;
    width: 100%;
}
.question-tag-list-wrapper {
    margin-bottom: 2%;
    float: left;
    width: 100%;
}
.question-tag-header-wrapper {
    border-bottom: 1px lightgray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 100%;
    margin-bottom: 1%;
    width: 100%;
}

.question-tag-header {
    text-align: center;
    font-size: 20px;
    margin: 2px auto;
    font-family: "Do Hyeon", sans-serif;
}
