@media only screen and (max-width: 1000px) {
    .userpageTemplate .userpage-item-wrapper {
        width: 100%;
        margin-right: 0px !important;
        padding-right: 0px !important;
        float: left;
        box-sizing: border-box;
    }
    .userpageTemplate .userpage-rank-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
}
.userpageTemplate {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 90px;
    font-family: "Noto Sans KR", sans-serif;
}

/* HEADER */ /* HEADER */
/* HEADER */ /* HEADER */

.userpageTemplate .userpage-user-header-row {
    padding-right: 10px;
    width: 100%;
}

.userpage-user-header-row .avatar-col {
    float: left;
}

.userpage-user-header-row .avatar-col {
    width: 100px;
    height: 100px;
}

.userpage-user-header-row .avatar-col img {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* 그림자 */
}

.userpage-user-header-row .info-col {
    padding-left: 10px;
    width: 100%;
    height: 100px;
    margin-left: 100px;
}
.userpage-user-header-row .info-col .bean {
    color: gray;
}
.userpage-user-header-row .info-col .short {
    color: rgb(86, 130, 53);
}
.userpage-user-header-row .info-col .tall {
    color: rgb(46, 117, 182);
}
.userpage-user-header-row .info-col .grande {
    color: rgb(112, 48, 160);
}
.userpage-user-header-row .info-col .venti {
    color: rgb(237, 125, 49);
}
.userpage-user-header-row .info-col .trenta {
    color: rgb(255, 80, 80);
}
.userpage-user-header-row .info-col .dev {
    color: rgb(0, 0, 0);
}
.info-col .bage-row {
    font-size: 14px;
}

.info-col .nickname-row {
    font-size: 24px;
    font-family: "Do Hyeon", sans-serif;
}

.sub-row #github,
#notion {
    font-family: "Noto Sans KR", sans-serif;
    color: gray;
    font-size: 12px;
    margin-right: 20px;
}

.sub-row #edit-email,
#edit-myinfo {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: gray;
}

/* NAV */

.userpageTemplate .userpage-nav-row {
}

.userpage-nav-row .userpage-nav-item {
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: gray;
}

/* NAV */

/* USER INFO */

.userpageTemplate .userpage-item-wrapper {
    width: 100%;
    margin-right: -350px;
    padding-right: 390px;
    float: left;
    box-sizing: border-box;
}
.userpageTemplate .userpage-rank-wrapper {
    width: 330px;
    height: auto;
    float: right;
}

.userpageTemplate .userpage-item-row {
    margin-top: 50px;
}

.userpage-item-row .item-header {
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-bottom: 1px solid rgb(179, 179, 179);
    margin-bottom: 10px;
    line-height: 20px;
}

.userpage-item-row .item-box {
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-bottom: 10px;
}

.userpage-item-row .item-box {
    color: black !important;
}
.userpage-item-row .item-box:hover {
    background-color: rgb(243, 243, 243) !important;
}
.userpage-item-row .item-preview {
    text-decoration: none !important;
}
.userpage-item-row .item-preview a:hover {
    text-decoration: none;
}

.userpage-item-row .item-preview {
    padding-left: 3px;
}

.item-preview #item-label {
    color: gray;
    font-size: 14px;
}

.item-preview #item-value {
    font-size: 15px;
}

.userpage-item-row .link-input-box {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 50%;
}

.userpage-item-row .link-input-box-wrapper {
    display: inline-block;
    width: 100%;
}

.userpage-item-row .submit-btn-wrapper {
    display: inline-block;
    margin-left: 10px;
}

.submit-btn-wrapper button {
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
}

.item-header .edit-myinfo {
    float: right;
    font-size: 18px;
    cursor: pointer;
    color: gray;
    font-size: 15px;
    vertical-align: text-bottom;
}

.userpage-githubicon {
    display: inline;
    cursor: pointer;
}
