.NewHeaderComponent {
    top: 0px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: auto;
    min-height: 50px;
    position: relative;
    position: fixed;
    font-family: "Noto Sans KR", sans-serif;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.NewHeaderComponent .header-wrapper {
    height: 100%;
}

.NewHeaderComponent .header-wrapper-mobile {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@ 피씨 버전 css @@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@ */

.pc-only .header-logo-col {
    float: left;
    width: 110px;
    height: 100%;
}

/* @@@@ 통합 버전 LOGO  css @@@@ */

.header-logo-col .img-box {
    line-height: 50px;
}

/* @@@@ 피씨 버전 MENU  css @@@@ */

.pc-only .header-menu-col {
    float: left;
    width: calc(100% - 270px);
    height: 100%;
}

.pc-only .header-menu-col .menu-outter {
    text-align: center;
    line-height: 50px;
}

.pc-only .header-menu-col .menu-box {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.pc-only .header-menu-col .menu-item {
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(150, 150, 150);
    font-size: 14px;
}
.pc-only .header-menu-col .menu-item {
    text-decoration: none !important;
}

.pc-only .header-menu-col .menu-box:hover {
    border-bottom: 3px solid rgb(66, 141, 151);
}
.pc-only .header-menu-col .menu-box:hover .menu-item {
    color: rgb(66, 141, 151);
}

.pc-only .header-menu-col .on {
    border-bottom: 3px solid rgb(66, 141, 151);
}
.pc-only .header-menu-col .on a {
    color: rgb(66, 141, 151);
    text-decoration: none !important;
}

/* @@@@ 피씨 버전 USER  css @@@@ */

.pc-only .header-user-col {
    float: left;
    width: 150px;
    height: 100%;
    float: right;
}

.pc-only .header-user-col .user-outter {
    text-align: center;
    line-height: 50px;
}
.header-user-col a {
    font-size: 13px !important;
    text-decoration: none !important;
    color: gray !important;
}
.header-user-col span {
    font-size: 13px;
    color: gray;
}

.header-user-col #nickname-span {
    cursor: pointer;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@ 모바일 버전 css @@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@ */

.mobile-only .header-menu-col {
    width: 30px;
    float: left;
    height: 100%;
    cursor: pointer;
}

.mobile-only .header-logo-col {
    position: fixed;
    /* left 30, right 100 */
    width: 100%;
    z-index: -1;
    padding-right: 10px;
    text-align: center;
}

.mobile-only .header-user-col {
    float: right;
    text-align: right;
    width: 100px;
    height: 100%;
}

.mobile-only .header-logo-col #mobile-logo {
    width: 110px;
    height: 30px;
}

.NewHeaderComponent .collapse-wrapper {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.NewHeaderComponent .collapse-wrapper .collapse-item-outter {
    text-align: center;

    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.NewHeaderComponent .collapse-wrapper .collapse-item-inner {
    width: 100%;
}

.NewHeaderComponent .collapse-wrapper .collapse-item-outter a {
    width: 100%;
    color: rgb(95, 95, 95);
    text-decoration: none !important;
    font-size: 15px;
}
.NewHeaderComponent .collapse-wrapper .mobile-on {
    background-color: rgb(255, 255, 255);
}
.NewHeaderComponent .collapse-wrapper .mobile-on a {
    color: black;
}

.NewHeaderComponent .collapse-wrapper .collapse-item-outter:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black !important;
}
