@media only screen 
and (max-width : 800px)
{
/* Add Your CSS Styling Here */
}

@media only screen 
and (min-width : 800px)
{
/* Add Your CSS Styling Here */
}
.questions-number-span{
    font-family: 'Do Hyeon', sans-serif;
    font-size: x-large;
    vertical-align: base;
    display: inline-block;
}

.howto-list-header-header {
    width: 100%;
}
.howto-list-header-header .mobile-new-question-button{
    float: right;
}

.question-descript-span{
    font-family: 'Do Hyeon', sans-serif;
    vertical-align: base;
    display: inline-block;
    font-size: large;
}

.filter-button-wrapper{
    position: absolute;
    right:0px;
    width:100px;
}

.search-button-wrapper{
    position: absolute;
    right: 0px;
    width : 100px;
    margin-right: 75px;
}

.collapse{
    width: 100%;
}
