.gradecolorgreen {
    color: rgb(62, 140, 99);
    font-weight: bold;
}

.gradecolorblue {
    color: rgb(84, 135, 247);
    font-weight: bold;
}

.gradecolorpurple {
    color: rgb(170, 79, 186);
    font-weight: bold;
}
.gradecolororange {
    color: rgb(239, 137, 35);
    font-weight: bold;
}

.gradecolorred {
    color: rgb(232, 32, 13);
    font-weight: bold;
}

.gradecolorblack {
    color: black;
    font-weight: bold;
}

.gradecolor {
    color: rgb(117, 117, 118);
    font-weight: bold;
}
