.nickname-container-top-wrapper {
    height: 100vh;
    padding-top: 60px;
    background-color: #f2f2f2;
    height: 100vh;
}

.nickname-container-wrapper {
    border-radius: 7px;
    padding-bottom: 2%;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    background-color: white;
}

.nickname-margin {
    margin-bottom: 5px;
}
.nickname-welcome-wrapper {
    margin-top: 5%;
    display: table;
    width: 100%;
    text-align: center;
}

.nickname-welcome-span {
    font-size: xx-large;
    font-family: "Do Hyeon", sans-serif;
    display: table-cell;
    vertical-align: middle;
}

.nickname-logo_wrapper {
    margin-top: 10px;
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.nickname-logo_wrapper img {
    width: 90px;
    height: 80px;
}

.nickname-form-wrapper {
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.nickname-form-resize-wrapper {
    text-align: center;
    margin-top: 20px;
}

.nickname-form-wrapper div {
    width: 100%;
}

.nickname-form-resize-wrapper button {
    width: 100%;
}

.nickname-form-wrapper .nickname-state-form {
    margin: 0px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
}

.nickname-state-form b {
    color: #4ba0b5;
}

.nickname-confirm-wrapper {
    margin-top: 30px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
}
