.box {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    overflow: hidden;
    background: #BDBDBD
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.howto-item-wrapper{
    background-color: white;
    border-top: 0.5px solid #E3E3E3;
}

.howto-item{
    height: 120px;
    width: 100%;
}
.howto-item .content{
    margin-top: 10px;
    position: absolute;
    right:0px;
    left:0px;
    width: auto;
    margin-right: 95px;
    margin-left: 25px;
}


.howto-item .stats-area{
    margin-top: 10px;
    height : 100%;
    float: right;
}


.howto-item .answer-wrapper{
    height: 55px;
}

.howto-item .views-wrapper{
    height: 55px;
}

.content .author-title-wrapper{
    width: 100%;
}

.howto-item .asked-span{
    color: gray;
    font-size: small;
}

.howto-item .author-span{
    color : #494949;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.howto-item .author-span-add{
    color : #494949;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.howto-item .title-span a{
    color : 	#0005B3;
    font-size: large;
    font-family: 'Noto Sans KR', sans-serif;
}

.howto-item .answer-number-wrapper{
    height: 25px;
}
.howto-item .answer-span-wrapper{
    height: 5px;
}
.howto-item .answer-number{
    text-align: center;
    font-size: 20px;
    width:100%;
    display: inline-block;
}
.howto-item .answer-span{
    vertical-align: bottom;
    text-align: center;
    width:100%;
    display: inline-block;
    font-size: 13px;
    color:gray;
}

.howto-item .views-number-wrapper{
    height: 25px;
}
.howto-item .views-span-wrapper{
    height: 5px;
}
.howto-item .views-number{
    font-size: 20px;
    text-align: center;
    width:100%;
    display: inline-block;
}

.howto-item .views-span{
    vertical-align: bottom;
    text-align: center;
    width:100%;
    display: inline-block;
    font-size: 13px;
    color:gray;
}

.howto-item .previews-span{
    font-size: 15px;
    color : #494949
}