.newquestion_sidebar_main{
    font-family: 'Do Hyeon', sans-serif;
    padding-left:10px;
    background-color: white;
    padding-top:2%;
    border-radius: 5px;
}

.newquestion_sidebar_main b{
    color:#4BA0B5;
}

.newquestion_sidebar_wrapper{
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    margin-top: 3%;
    width: 100%;
    margin-bottom:2%;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.12); /* 그림자 */
}

.newquestion_sidebar_header{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: lightgray;
    width:100%;
}
