.alarm-item-box-true{
    background-color: #F9F9F9;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    margin-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.alarm-item-box-false{
    background-color: rgb(220, 233, 236);
    border-radius: 3px;
    padding: 5px;
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    margin-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}


.alarm-item-wrapper .alarm-question-id{
    margin-right: 10px;
    color: gray;
}

.alarm-item-wrapper .alarm-link{
    margin-right: 10px;
}

.alarm-item-wrapper .alarm-date{
   /* float: right; */
   font-size: 12px;
   color: gray;
}

.alarm-item-wrapper .alarm-controller{
    float: right;
    color: gray;
    font-size: 12px;
}
.alarm-item-wrapper .alarm-controller a{
    float: right;
    color: gray;
    text-decoration: none;
}