@media only screen and (max-width: 800px) {
    .HowToTemplate .qa-status-box {
        display: none;
    }

    /* .HowToTemplate .is-question-box-a {
        display: none;
    } */

    /* Add Your CSS Styling Here */
}

@media only screen and (min-width: 800px) {
    /* Add Your CSS Styling Here */
    .header-box .header-box-is-question-box-q,
    .header-box-is-question-box-a {
        display: none;
    }
    .HowToTemplate .likes-inner {
        display: none;
    }
}

.HowToTemplate .qa-status-box {
    float: left;
    width: 30px;
    margin-right: 13px;
}

.HowToTemplate .likes-outter .likes-count-box {
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
    font-size: 20px;
    color: gray;
}

.HowToTemplate .likes-outter .likes-count-up,
.likes-count-down {
    text-align: center;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.likes-count-up p {
    margin-bottom: 0px;
}

.HowToTemplate .likes-inner {
    padding-right: 10px;
}

.HowToTemplate .likes-inner .likes-count-up,
.likes-count-down {
    text-align: center;
    font-size: 14px;
    color: gray;
    float: left;
    margin-right: 8px;
    cursor: pointer;
}
.HowToTemplate .likes-inner .likes-count-box {
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
    font-size: 19px;
    color: gray;
    float: left;
    margin-right: 10px;
}

.HowToTemplate .likes-outter .likes-count-up {
    margin-bottom: -10px;
}

.HowToTemplate .likes-outter .likes-count-down {
    margin-top: -10px;
}

.HowToTemplate .likes-inner {
    float: right;
}

.HowToTemplate .solved-outter {
    text-align: center;
}

.HowToTemplate .question-box {
    margin-top: 3%;
    padding-top: 1px;
    background-color: white;
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 3px;
    overflow: hidden;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(112, 112, 112, 0.23); */
}

.question-box .header-box {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(212, 212, 212);
    height: 28px;
    width: 100%;
    padding-left: 10px;
}

.HowToTemplate .is-question-box-q {
    font-family: "Do Hyeon", sans-serif;
    /* float: left; */
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: #4ba0b5;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.HowToTemplate .is-question-box-a {
    font-family: "Do Hyeon", sans-serif;
    /* float: left; */
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin-right: 10px;
    background-color: rgb(238, 128, 128);
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.header-box .header-box-is-question-box-q {
    font-family: "Do Hyeon", sans-serif;
    background-color: #4ba0b5;
    color: white;
    margin-top: 2px;
    width: 23px;
    height: 23px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
    text-align: center;
}

.header-box .header-box-is-question-box-a {
    font-family: "Do Hyeon", sans-serif;
    /* background-color: rgb(238, 128, 128); */
    color: white;
    margin-top: 2px;
    width: 23px;
    height: 23px;
    margin-right: 10px;
    float: left;
    border-radius: 5px;
    text-align: center;
}

.question-box .main-box {
    padding: 10px;
    overflow: hidden;
}

.question-box .add-comment-box {
    float: right;
    cursor: pointer;
    font-size: 12px;
}

.question-box .add-comment-box a {
    color: gray;
    font-size: 12px;
    text-decoration: none;
}

.question-box .comment-box {
    background-color: rgb(248, 248, 248);
    border-top: 0.4px solid rgb(226, 226, 226);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: auto;
}

.comment-box #author {
    color: gray;
    font-size: 14px;
}

.comment-box #date {
    color: gray;
    font-size: 12px;
}

.comment-box #content {
    font-size: 16px;
}

.question-box .comment-button {
    float: right;
}

.question-comment-warpper textarea {
    min-height: 28px;
}

.question-comment-warpper .comment-box {
    padding: 10px;
    width: 100%;
}

.HowToQABox .adopt {
    background-color: rgb(238, 128, 128);
}
.HowToQABox .notadopt {
    background-color: rgb(211, 211, 211);
}
.HowToQABox {
    width: 100%;
}

.adopt-popup-layer {
    position: absolute;
    width: 100%;
    /* z-index: 100; */
    background-color: black;
    /* top: 0px; */
    /* left: 0px; */
}

.liked p {
    cursor: none;
    color: rgb(7, 171, 200) !important;
}
.disliked p {
    cursor: none;

    color: rgb(211, 11, 71) !important;
}

.disable .notClicked p {
    pointer-events: none;
    color: rgb(187, 187, 187) !important;
}

.question-box .header-box a {
    color: rgb(54, 53, 53);
    text-decoration: none;
}

.question-box .header-box a:hover {
    color: black;
    font-weight: bold;
}
