.new-question-wrapper {
    background-color: #f2f2f2;
    height: 100vh;
    padding-top: 2%;
}

.new-question-wrapper .new-question-header-row {
    padding-left: 15px;
    padding-right: 15px;
}

.new-question-header-row span {
    font-size: xx-large;
    font-family: "Do Hyeon", sans-serif;
}

.new-question-wrapper .new-question-body-warpper {
    padding-left: 15px;
    padding-right: 15px;
}

.new-question-wrapper .new-question-main-col {
    width: 100%;
}
