@media only screen and (max-width: 850px) {
    .new-question-wrapper .new-question-sidebar-col {
        display: none;
    }
    .new-question-wrapper .new-question-main-col {
        width: 100%;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
}
/* 
@media only screen and (min-width: 1000px) {
    .howto-item .stats-area-mobile {
        display: none;
    }
    .howto-item .content {
        margin-right: 95px;
        margin-left: 25px;
    }
    .howto-item .answer-wrapper {
        margin-bottom: 5px;
    }

} */
.new-question-wrapper {
    background-color: #f2f2f2;
    height: 100vh;
    padding-top: 2%;
}

.new-question-wrapper .new-question-header-row {
    padding-left: 15px;
    padding-right: 15px;
}

.new-question-header-row span {
    font-size: xx-large;
    font-family: "Do Hyeon", sans-serif;
}

.new-question-wrapper .new-question-body-warpper {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    overflow: hidden;
}

.new-question-wrapper .new-question-main-col {
    width: 100%;
    margin-right: -330px;
    padding-right: 330px;
    float: left;
    box-sizing: border-box;
}

.new-question-wrapper .new-question-sidebar-col {
    float: right;
    margin-left: 10px;
    width: 320px;
}
